{% extends ['@ibexadesign/layout.html.twig', '@ibexadesign/ui/layout.html.twig'] %}

{% block breadcrumbs %}
    {% include ['@ibexadesign/parts/breadcrumbs.html.twig', '@ibexadesign/ui/breadcrumbs.html.twig'] with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'logs_ui.menu.label'|trans }
    ]} %}
{% endblock %}

{% block page_title %}
    {% include ['@ibexadesign/parts/page_title.html.twig', '@ibexadesign/ui/page_title.html.twig'] with {
        title: 'logs_ui.menu.label'|trans,
        iconName: 'contentlist'
    } %}
{% endblock %}

{% block content %}
    {% set per_page_logs = constant('IbexaLogsUi\\Bundle\\Controller\\LogsManagerController::PER_PAGE_LOGS') %}
    {% set max_logs = constant('IbexaLogsUi\\Bundle\\Controller\\LogsManagerController::MAX_LOGS') %}
    {% set pages = (total / per_page_logs)|round(0, 'ceil') %}

    <div class="row ibexa-header pt-3">
        <div class="container ibexa-container">
            <div class="ibexa-table-header">
                <div>
                    <div class="ibexa-table-header__headline">
                        {{ 'logs_ui.text.last_message'|trans }} {{ logs is not empty ? logs|first.date|date('d/m/Y H:i') : '#' }}
                    </div>
                    <i class="text-secondary">{{ log_path }}</i>
                </div>
                <div class="ibexa-table-header__tools">
                    <a href="{{ path('ibexa_logs_ui_reload') }}" class="btn btn-icon" title="{{ 'logs_ui.text.reload'|trans }}">
                        <svg class="ibexa-icon">
                            <use xlink:href="{{ ibexa_icon_path('refresh') }}"></use>
                        </svg>
                        <span class="text-primary ml-1">{{ 'logs_ui.text.reload'|trans }}</span>
                    </a>
                </div>
            </div>

            <div class="ibexa-tabs">
                <ul class="nav nav-tabs ibexa-tabs__list">
                    <li class="nav-item ibexa-tabs__tab">
                        <a href="{{ path('ibexa_logs_ui_index') }}" class="nav-link ibexa-tabs__link {{ level == 'all' ? 'active' }}">
                            {{ 'logs_ui.text.all_levels'|trans }}
                        </a>
                    </li>
                    {% for item in log_levels %}
                        <li class="nav-item ibexa-tabs__tab">
                            <a href="{{ path('ibexa_logs_ui_index', {level: item|lower}) }}" class="nav-link ibexa-tabs__link {{ level == item|lower ? 'active' }}">
                                {{ item }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container ibexa-container pb-5" id="ibexa-tab-list-content-logs">
        {% if per_page_logs < total %}
            <div class="mb-2">
                {% if page != 1 %}
                    <strong>{{ 'logs_ui.text.page'|trans({'%page%': page, '%pages%': pages}) }}</strong>.
                {% endif %}
                {{ 'logs_ui.text.pagination'|trans({'%perPage%': logs|length|number_format(0, ',', ' '), '%total%': total|number_format(0, ',', ' ')})|raw }}
            </div>
        {% endif %}

        {% if logs is empty %}
            <p class="alert alert-warning">
                {{ 'logs_ui.text.is_empty'|trans({'%level%': level}) }}
                <br>
                {{ 'logs_ui.text.max_logs'|trans({'%maxLogs%': max_logs}) }}
                <br><br>
                {{ 'logs_ui.text.log_path'|trans }} {{ log_path }}
            </p>
        {% else %}
            <table class="table ibexa-table ibexa-table--list">
                <thead>
                <tr class="ibexa-table__head-row">
                    <th class="ibexa-table__header-cell" scope="col">Date</th>
                    <th class="ibexa-table__header-cell" scope="col">Logger</th>
                    <th class="ibexa-table__header-cell" scope="col">Message</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                    <tr class="ibexa-table__row">
                        <th scope="row" class="ibexa-table__cell text-nowrap">{{ log.date|date('d/m/Y H:i:s') }}</th>
                        <td class="ibexa-table__cell text-nowrap">
                            <div class="badge badge-{{ log.class is defined ? log.class : 'secondary' }}">
                                {{ log.logger }}.{{ log.level }}
                            </div>
                        </td>
                        <td class="ibexa-table__cell text-break">
                            <samp>{{ dump_log_message(log.message, log.context) }}</samp>
                            {% if log.context is not empty or log.extra is not empty %}
                                <details class="mt-2">
                                    <summary>{{ 'logs_ui.text.show_more'|trans }}</summary>
                                    {% if log.context is not empty %}
                                        <div class="mt-2">
                                            <strong>{{ 'logs_ui.text.context'|trans }}&nbsp;</strong>
                                            {{ dump_log_context(log.context, maxDepth=1) }}
                                        </div>
                                    {% endif %}
                                    {% if log.extra is not empty %}
                                        <div class="mt-2">
                                            <strong>{{ 'logs_ui.text.extra'|trans }}&nbsp;</strong>
                                            {{ dump_log_context(log.extra, maxDepth=1) }}
                                        </div>
                                    {% endif %}
                                </details>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% from '@ibexadesign/logs/pagination.html.twig' import pagination %}
        {{ pagination(pages, page, path('ibexa_logs_ui_index') ~ '/' ~ level ~ '/', logs|length, total) }}
    </div>
{% endblock %}
